body{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background-color: #1A1A1D;
}
/* use px for units in measurement for everything*/

h1,h2,h3,p, .logo{
    margin-left: 100px;
}

h1, h2, .hello_msg{
    color: #C3073F;
}

h3{
    color: #950740;
}

p{
    color: #4E4E50;
}



/* Style NavBar */
.navBar{
    color: #C3073F;
    position: fixed;
    width: 30px; /* width of the side bar */
    height: 100%;
    background: #1A1A1D;
    transition: 0.5s;
    overflow: hidden;
    z-index: 5;
}

.navBar ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}

.navBar ul li{
    position: relative;
    width: 100%;
    list-style: none;
}

.navBar ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    
}

.navBar ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navBar ul li a .icon .fas{
    font-size: 24px;
}

.navBar ul li a .title{
    position: relative;
    display: block;
    min-width: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navBar:hover{
    width: 300px;
}

.navBar ul li:hover{
    background: linear-gradient(rgb(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3));;
}

/* ---------------------------------------------------------*/

a{
    text-decoration: none;
    color: inherit;
}

.logo{
    height: 100px;
    width:  100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 50px;
}


.socials{
    margin-left: 65px;
}

.socials ul{
    list-style-type: none;
}

.socials ul li{
    display: inline;
    padding-right: 15px;
}

.socials li:hover{
    color: #4E4E50;
}

/*-----------------------------*/

.introduction{
    background: linear-gradient(rgba(0,0,0, 0.25), rgba(0,0,0, 0.25)), url('../images/bg1.jpg');
   /* background-image: url('../images/bg1.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello_msg{
    background-image: linear-gradient(rgb(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 8em;
    font-weight: bold;
}


/*-----------------*/

/* Trying out anime.js */
.grid-wrapper{
    display: grid;
    grid-template-columns: 50px  50px 50px;
    grid-gap: 10px;

    /** Centers Grid **/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-200%, -50%); /** Change -200 to -50 for center **/


}

.grid-wrapper > div {
    background-color: #C3073F;
    text-align: center;
    font-size: 30px;
   
  } 

.square{
    height: 50px;
    width: 50px;
    background-color: rgb(206, 36, 36);
}

.wip{
    font-size: 50pt;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-75%, 0);
}