.projects{ /* flexbox container: 2 items per row */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
 
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.project{
    width: 500px;
}

.slider{
    /*margin-left: 100px;*/
    margin-bottom: 100px;
   /* border: 3px solid #950740; */
}


.page_title{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
}

.page_title h2{
    background-image: linear-gradient(rgb(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 8em;
    font-weight: bold;
}

/*
    Work on the other sliders. Probably have to add some css for each of them and change the names of the classes.
    - done

    Maybe move the projects title to the center of the screen like in the home page.

    Also anime piano music really helps stay motivated in coding!
*/